<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="resource/architecture/UMLLight.architecture">
      </model>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="resource/creationmenu/UMLLightNewChild.creationmenumodel">
      </menuCreationModel>
      <menuCreationModel
            model="resource/creationmenu/UMLLightNewRelationship.creationmenumodel">
      </menuCreationModel>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.assistant.modelProviders">
      <modelProvider
            uri="resource/assistant/UMLLightUseCase.assistants"></modelProvider>
      <modelProvider
            uri="resource/assistant/UMLLightSequence.assistants"></modelProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.eclipse.papyrus.umllight.core.internal.provider.SequenceEditPolicyProvider">
         <Priority
               name="High">
         </Priority>
      </editpolicyProvider>
      <editpolicyProvider
            class="org.eclipse.papyrus.umllight.core.internal.provider.StateMachineEditPolicyProvider">
         <Priority
               name="High">
         </Priority>
      </editpolicyProvider>
   </extension>
    <extension
         name="UML Subset for UML Light"
         point="org.eclipse.papyrus.infra.properties.contexts">
		<context appliedByDefault="true" contextModel="resource/context/UML-Light.contexts" isCustomizable="true"/>
	</extension>
</plugin>
